/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/vendor
.env
.env.backup
.env_*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.phar
/.idea
/.vscode
/.fleet

*.zip
